name: Deploy libllama
on:
  workflow_dispatch:

env:
  commit: "b7325"
  subversion: "-3

jobs:
  deploy:
    environment: Actions
    strategy:
      matrix:
        include:
          - os: "ubuntu-latest"
            arch: "x64"
          - os: "macos-15"
            arch: "aarch64"
          - os: "macos-latest"
            arch: "x64"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      build_type: ${{ matrix.build_type }}
    steps:
      - uses: actions/checkout@v2
      - name: Install packages Linux
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update -y && sudo apt-get install patchelf -y
      - name: Install packages on macOS
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install make cmake
          echo "$(brew --prefix make)/libexec/gnubin" >> "$GITHUB_PATH"
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
          architecture: ${{ matrix.arch }}
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@3.5
        with:
          # Install just one or all simultaneously
          cli: 1.11.1.1208 # Clojure CLI based on tools.deps
      - name: Install dependencies
        run: clojure -P
      - name: Deploy
        env:
          CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
          CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
        run: clojure -M:project -m com.phronemophobic.cljonda.libllama ${{ env.commit }} ${{ env.subversion }}

